{% if page.url != "/categories/" and page.url != "/categorias/" and page.url != "/categorias-es/" %}

<div class="jumbotron fortags">
      <div class="d-md-flex h-100">
            <div class="col-md-4 transpdark align-self-center text-center h-100">
                  <div class="d-md-flex align-items-center justify-content-center h-100">
                        <h2 class="d-md-block align-self-center py-1 font-weight-light">
                              {% t main.home.topics %}
                              <span class="d-none d-md-inline">→</span>
                        </h2>
                  </div>
            </div>
            <div class="col-md-8 p-5 align-self-center text-center">
                  {% include list-topics.html %}
            </div>
      </div>
</div>

{% endif %}